@import url('https://fonts.googleapis.com/css?family=Heebo');

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

body, html {
  background: white;
  font-family: 'Heebo', sans-serif;
  letter-spacing: 3px;
  height: 100%;
  margin: 0;
}

nav {
  background: white;
  width: 100%;
  height: 80px;
  overflow: hidden;
  /* position: absolute; */
  transition: 0.5s ease;
}

.nav-buttons {
  height: 60px;
  padding: 10px;
}

.nav-buttons a {
  float: left;
  line-height: 60px;
  margin-left: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 2px solid black;
  transition: 0.2s ease;
}

#nav-toggle {
  float: right;
  background: none;
  border: none;
}

.nav-buttons img {
  width: 40px;
  margin: 10px;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 320px;
}

nav ul li {
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
}

nav ul li a {
  font-size: 20px;
}

nav ul li a:hover {}

.hero {
  background: white;
}

.hero-img {
  background-image: url('img/office.jpg');
  height: 400px;
  background-position: center;
  background-size: cover;
}

.hero-text {
  margin: 0px auto;
  padding: 30px 20px 40px 20px;
  background: orange;
}

.hero-text h1 {
  color: #fff;
  margin-bottom: 20px;
}

.hero-text p {
  padding: 10px 0 30px 0;
  margin-bottom: 25px;
  line-height: 25px;
}

.hero-btn {
  text-align: center;
}

.hero-text a {
  background: black;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  padding: 12px 15px;
}

.hero-text a:hover {
  border: 4px solid white;
  text-decoration: none;
  transition: 0.1s ease;
}

.posts-section {
  background-image: url('img/building.jpg');
  min-height: 500px;
  color: white;
  position: relative;
  /* opacity: 0.50; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.posts-section .wrapper {
  width: 90%;
  margin: 0 auto;
}

.posts-section h2 {
  padding: 30px 0;
  font-size: 35px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
}

.post {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.post a {
  color: white;
  border-bottom: 1px solid orange;
  padding: 5px;
  text-decoration: none;
}

.post a:hover {
  background: orange;
  transition: 0.5s ease;
}

.post img {
  margin-bottom: 10px;
}

.post h3 {
  padding-bottom: 20px;
  font-size: 20px;
}

.post p {
  padding-bottom: 20px;
  line-height: 25px;
}

/************************ BLog **************************8  */
.gray {
  background: #f9f9f9;
}

hr {
  margin: 25px 0;
}

.blog {
  padding: 20px;
}

.blog h1 {
  text-align: center;
  margin-bottom: 20px;
}

.blog h3 {
  font-size: 22px;
  text-align: center;
}

.blog p {
  font-size: 18px;
  margin: 25px 0;
  line-height: 40px;
}

/********************** PROJECTS ****************************** */
.projects-top {
  text-align: center;
  padding: 30px 0;
}

.projects-top h2 {
  font-size: 1.8em;
}

.projects-top h3 {
  color: #555;
  font-weight: lighter;
  letter-spacing: 3px;
}

.project {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.project img {
  width: 100%;
  height: 300px;
  filter: grayscale(100%);
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: rgba(32, 32, 32, 0.95);
  width: 200px;
  height: 200px;
}

.img-text h2 {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-text a {
  color: white;
  border-bottom: 1px solid orange;
  position: absolute;
  bottom: 0px;
  transform: translateX(-50%);
  margin-bottom: 25px;
  padding: 5px;
  text-decoration: none;
}

.img-text a:hover {
  background: orange;
  transition: 0.5s ease;
}

footer .wrapper {
  width: 90%;
  margin: 0px auto;
  padding: 20px 0;
}

.contact {
  text-align: center;
  width: 90%;
  margin: 0px auto;
  padding: 25px 0;
}

.contact-info {
  margin: 30px 0 10px 0;
}

.contact-info p {
  margin-top: 30px;
}

/********************* FOOTER *********************/
footer {
  background: rgba(62, 62, 62, 0.9);
  padding: 20px 0 0px 0;
  color: white;
  letter-spacing: 3px;
}

.footer-brand {
  padding-bottom: 20px;
}

.footer-brand h2 {
  text-transform: uppercase;
  padding-bottom: 20px;
}

.social-icons {
  text-align: center;
}

.social-icons h2 {
  padding-bottom: 10px;
}

.social-icons ul li {
  display: inline-block;
  width: 55px;
}

.social-icons ul li a {
  font-size: 40px;
}

.social-icons hr {
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.fa {
  color: #fff;
}

.fa:hover {
  color: orange;
  transition: 0.5s ease;
}

.go-to-top {
  text-align: center;
  margin-top: 30px;
}

.go-to-top:hover {
  text-decoration: underline;
}

/********************************RESPONSIVE RULES***********************  */
@media screen and (min-width: 768px) {
  #nav-toggle {
    visibility: hidden;
  }

  .nav-buttons {
    float: left;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
  }

  nav ul li {
    opacity: 1;
  }

  .hero {
    display: flex;
  }

  .hero-img {
    width: 50%;
    height: auto;
  }

  .hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 0;
  }

  .post {
    width: 42%;
  }

  .wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .projects-group {
    display: flex;
    justify-content: space-between;
  }

  .project {
    width: 32%;
  }

  .blog {
    width: 80%;
    margin: 0 auto;
  }

  .contact-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-buttons {
    position: relative;
    left: 25%;
    transform: translateX(-50%);
  }

  nav ul {
    width: 50%;
    float: right;
  }

  .hero {
    height: calc(100vh - 80px);
  }

  .hero-text h1 {
    font-size: 50px;
  }

  .hero-text p {
    font-size: 1.15em;
    line-height: 35px;
  }

  .hero-btn a {
    font-size: 20px;
  }

  .post img {
    width: 50%;
    float: right;
    margin-left: 10px;
  }

  .post {
    padding-bottom: 30px
  }

  .blog {
    width: 60%;
    margin: 0 auto;
  }

  .contact-info {
    padding: 0 180px;
  }

  .footer-brand {
    display: inline-block;
  }

  .social-icons {
    width: 50%;
    padding-top: 0;
    /* text-align: left; */
  }

  .footer-info {
    display: flex;
  }

@media screen and (min-width: 1400px) {
  .hero-text h1 {
    font-size: 60px;
  }

  .hero-text p {
    font-size: 1.5em;
    line-height: 40px;
  }

  .hero-btn a {
    font-size: 30px;
  }

  .blog {
    width: 50%;
    margin: 0 auto;
  }

  .contact-info {
    padding: 0 150px;
  }
}
