@import url('https://fonts.googleapis.com/css?family=Heebo');

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

body, html {
  background: white;
  font-family: 'Heebo', sans-serif;
  letter-spacing: 3px;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

nav {
  background: white;
  width: 100%;
  height: 80px;
  overflow: hidden;
  /* position: absolute; */
  transition: 0.5s ease;
  border-bottom: 2px solid #222;
}

.nav-buttons {
  height: 60px;
  padding: 10px;
}

.nav-buttons a {
  float: left;
  line-height: 60px;
  margin-left: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 2px solid black;
  transition: 0.2s ease;
}

#nav-toggle {
  float: right;
  background: none;
  border: none;
}

.nav-buttons img {
  width: 40px;
  margin: 10px;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 320px;
}

nav ul li {
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
}

nav ul li a {
  font-size: 20px;
}

nav ul li a:hover {}

/****************************HERO  ******************/
.hero {
  background: white;
}

.hero-img {
  background-image: url('img/office.jpg');
  height: 300px;
  background-position: center;
  background-size: cover;
}

.hero-text {
  margin: 0px auto;
  padding: 30px 20px 40px 20px;
  background: orange;
}

.hero-text h1 {
  color: #fff;
  margin-bottom: 20px;
}

.hero-text p {
  padding: 10px 0 30px 0;
  margin-bottom: 25px;
  line-height: 40px;
  font-size: 20px;
}

.hero-btn {
  text-align: center;
}

.hero-text a {
  background: black;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  padding: 12px 15px;
}

.hero-text a:hover {
  border: 4px solid white;
  text-decoration: none;
  transition: 0.1s ease;
}

/* Section */
.paralax {
  background-image: url('img/building.jpg');
  background-color: gray;
  background-blend-mode: multiply;
  min-height: 160px;
  color: white;
  background-position: center;
  padding: 20px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
}

.paralax h2 {
  font-size: 300%;
  font-family: monospace;
}

/* Projects Section */
.projects {
  padding: 20px 0 40px 0;
  background: #F5F5DC;
  text-align: center;
  border-bottom: 5px dotted black;
}


.projects a {
  text-decoration:underline;
}

.projects h2 {
  margin-top: 10px;
  font-size: 200%;
}

a.more-work {
  background: #222;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 40px;
}

a.more-work:hover {
  color: orange;
  transition: .5s ease-in-out;
}

.projects-group {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  margin: 10px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 3px;
  width: 250px;
  background: hsla(360, 100%, 100%);
}

.project h3 {
  margin-bottom: 10px;
}

.project a {
  margin: 5px 0;
}

footer .wrapper {
  width: 90%;
  margin: 0px auto;
  padding: 20px 0;
}

.contact {
  text-align: center;
  margin: 0px auto;
  padding: 20px;
  border-bottom: 5px solid black;
}

.contact-info {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info i {
  color: black;
  margin-right: 5px;
}

/********************* FOOTER *********************/
footer {
  background: rgba(62, 62, 62, 0.9);
  padding: 20px 0 0px 0;
  color: white;
  letter-spacing: 3px;
}

.footer-brand {
  padding-bottom: 20px;
}

.footer-brand h2 {
  text-transform: uppercase;
  padding-bottom: 20px;
}

.social-icons {
  text-align: center;
}

.social-icons h2 {
  padding-bottom: 10px;
}

.social-icons ul li {
  display: inline-block;
  width: 55px;
}

.social-icons ul li a {
  font-size: 40px;
}

.social-icons hr {
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.fa {
  color: #fff;
}

.fa:hover {
  color: orange;
  transition: 0.5s ease;
}

.go-to-top {
  text-align: center;
  margin-top: 30px;
}

.go-to-top:hover {
  text-decoration: underline;
}

/********************************RESPONSIVE RULES***********************  */
@media screen and (min-width: 768px) {
  #nav-toggle {
    visibility: hidden;
  }

  .nav-buttons {
    float: left;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
  }

  nav ul li {
    opacity: 1;
  }

  .hero {
    display: flex;
  }

  .hero-img {
    width: 50%;
    height: auto;
  }

  .hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 20px;
  }

  .paralax h2 {
    font-size: 400%;
  }

  /* Projects Section */
  .projects-group {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .nav-buttons {
    position: relative;
    left: 25%;
    transform: translateX(-50%);
  }

  nav ul {
    width: 50%;
    float: right;
  }

  .hero {
    height: calc(100vh - 80px);
  }

  .hero-text h1 {
    font-size: 42px;
  }

  .hero-text p {
    font-size: 1.15em;
    line-height: 35px;
  }

  .hero-btn a {
    font-size: 20px;
  }

  .paralax {
    background-attachment: fixed;
  }



  .project  {
    width: 260px;
  }


  .footer-brand {
    width: 33%;

  }

  .social-icons {
    width: 33%;
    padding-top: 0;
  }

  .footer-info {
    display: flex;
    justify-content: center;
  }

@media screen and (min-width: 1295px) {
    .project {
      width: 340px;
    }
  }

@media screen and (min-width: 1400px) {
    .hero-text h1 {
      font-size: 60px;
    }

    .hero-text p {
      font-size: 1.5em;
      line-height: 40px;
    }

    .hero-btn a {
      font-size: 30px;
    }

    .project  {
      width: 200px;
    }
  }
